.contactContainer {
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
}

.form {
    flex: 0 1 60%;
}

.contactInfo {
    border-radius: 3px;
    background-image: linear-gradient(45deg, #eaafc8, #654ea3);
    color: white;
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contactInfo h4 {
    font-size: 2rem;
    margin-top: 0px;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.line {
    width: 33.33%;
}

.iconText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
}

.iconText i {
    font-size: 2rem;
    margin-right: 2rem;
    flex: 0 0 35px;
    margin-bottom: 2rem;
    color: #EAE7FA;
}

.iconText span {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2rem;
    padding-right: 10px;
}

.socialMedia {
    display: flex;
    width: 50%;
    padding-left: 30px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.iconCircle {
    flex: 0 1 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.iconCircle:hover {
    background: #FD49A0;
}

.form {
    padding: 20px;
}

.formGroup {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 10px;
    margin-bottom: 20px;
}

.formGroup input[type="text"], .formGroup input[type="email"] {
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border-bottom: 2px solid #808080;
    transition: 0.3s ease-in-out;
    
}

.formGroup textarea {
    resize: none;
    height: 150px;
    padding: 15px;
    padding-left: 10px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #808080;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.formGroup textarea:focus {
    outline: none;
    background: transparent;
    border: 2px solid #FD49A0;
}

.formGroup input[type="text"]:focus, .formGroup input[type="email"]:focus {
    outline: none;
    background: transparent;
    border-bottom: 3px solid #FD49A0;
}

.formGroup label {
    font-size: 1.2rem;   
    color: #808080;
}

.colTwo {
    display: flex;
    width: 100%;
    flex: 0 0 100%;
    flex-direction: row;
}


@media screen and (max-width: 600px) {
    .iconText span {
        font-size: 1rem;
        font-weight: 200;
    }
  }


@media  screen and (max-width: 1100px) {
    .contactContainer {
        display: block;
    }
  
    .colTwo {
        display: block;
       
    }
    .formGroup label {
        padding-right: 55px;
    }
    .line {
        width: 100%;
    }
}
