.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.navLink {
  list-style: none;
}

.navLink div {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 600px) {
  .navLink div {
    padding: 0 5px;
  } 
  .header {
    padding: 10px 5%;
  } 
}

.navLink div:hover {
  color: #0088a9
}