.profile {
    position: relative;
    margin: 10px 10px;
    text-align: center;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.handWritten {
    font-family: 'Caveat'; 
    font-weight: 700;
    padding-bottom: '0px';
}

.detail {
    max-width: 250px;
}

.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

.popIcon {
    position: absolute;
    top: -20px;
    right: -10px;
    border-radius: 50%;
    width: 30px;
    border: 1px solid black
}

.img {
    position: relative;
    margin: 10px 10px;
    text-align: center;
    border-radius: 15%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; 
    margin-bottom: 200px;
}

.name {
    font-family: 'Trocchi', Times, serif;
}

.image {
    transition: all 0.3s ease;
    border-radius: 3% 3% 0px 0px;
    object-fit: cover;
}

.image:hover {
    border-radius: 3% 3% 0px 0px;
    transform: scale(1.2);
}

@media screen and (max-width: 750px) {
    .title {
        font-size: 3rem;
    }
    .name {
        font-size: 40px;
    }
  }

