.profile {
    position: relative;
    margin: 10px 30px;
    text-align: center;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.handWritten {
    font-family: 'Caveat'; 
    padding-bottom: '0px';
}

.detail {
    max-width: 300px;
}

.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

.popIcon {
    position: absolute;
    top: -20px;
    right: -10px;
    border-radius: 50%;
    width: 30px;
    border: 1px solid black
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33.33333%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden; 
}

.name {
    font-size: 20px;
    margin-bottom: 5px;
}

.image {
    transition: all 0.3s ease;
    border-radius: 3% 3% 0px 0px;
    object-fit: cover;
}

.image:hover {
    border-radius: 3% 3% 0px 0px;
    transform: scale(1.2);
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }
    .title {
        font-size: 3rem;
    }
  }

